*.o
*.a
**/.deps
**/Debug
**/autom4te.cache
aclocal.m4
autoscan.log
configure
depcomp
install-sh
missing
ar-lib
autom4te.cache
compile
Makefile.in
Makefile
config.guess
config.status
config.sub
ltmain.sh
.*

